<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Filename</key><string>/home/lukee/Downloads/iPad2,1_5.0_9A334_Restore.ipsw</string>
<key>RootFilesystem</key><string>038-2708-006.dmg</string>
<key>RootFilesystemKey</key><string>1ec97d29a75aabb87da22687c815fad5d61c831ba1055bfb6718dd7c1117f9eee1449b34</string>
<key>RootFilesystemSize</key><integer>912</integer>
<key>RamdiskOptionsPath</key><string>/usr/local/share/restore/options.k93.plist</string>
<key>SHA256</key><string>fa08d61ebb352b84abe7affcd0ba142dd938b5f8b0078f5a3cc97962a5455f0d</string>
<key>FilesystemPackage</key><dict/><key>RamdiskPackage</key><dict/>
<key>Firmware</key><dict>
<key>iBSS</key><dict><key>File</key><string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string><key>IV</key><string>60aec881c98b2abebb326d4251213713</string><key>Key</key><string>89eff2b11975a16d419394552fb7aaafe6d752f9df1c6c5209e00b3e63a64013</string><key>Patch</key><true/>
<key>Decrypt</key><true/></dict>
<key>iBEC</key><dict><key>File</key><string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string><key>IV</key><string>53adf6ba4bf200514f93a2303fd09a8a</string><key>Key</key><string>bf9073583e6232a2fb0ff0335c240be62897e820f42fec2f500b8e2ef1a546c5</string><key>Patch</key><true/>
<key>Decrypt</key><true/></dict>
<key>Restore Ramdisk</key><dict><key>File</key><string>018-8012-343.dmg</string><key>IV</key><string>c176e84c408ba20dac492adfc83f586f</string><key>Key</key><string>4e5616f67be0a557eace84b04e6d5fa0a3f7700e7693aafb15ac9f593689357f</string>
<key>Decrypt</key><true/></dict>
<key>RestoreDeviceTree</key><dict><key>File</key><string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string><key>IV</key><string>3c8a2e1fefeb8eddb3fc7454d4d57eda</string><key>Key</key><string>b603df69615d6338b945b1a48f706cac06d4cac0e3ca2bd82b692189297ffc58</string><key>DecryptPath</key><string>Downgrade/RestoreDeviceTree</string>
<key>Decrypt</key><true/></dict>
<key>RestoreLogo</key><dict><key>File</key><string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string><key>IV</key><string>3142e0b239006fab33c6e03f81ccf7eb</string><key>Key</key><string>4117e24eb6e8dd1c09c9e19d6fcc940f0da2c92dc93c4feb4a1c386d4ef4afc4</string><key>DecryptPath</key><string>Downgrade/RestoreLogo</string>
<key>Decrypt</key><true/></dict>
<key>RestoreKernelCache</key><dict><key>File</key><string>kernelcache.release.k93</string><key>IV</key><string>75603790903e57e37738d2a3d68fa037</string><key>Key</key><string>47ad1d1fdd796adfa1d9506ea4c9797a6cec697b5dc1cbf1263061d32e4aa1a8</string><key>DecryptPath</key><string>Downgrade/RestoreKernelCache</string><key>Patch</key><false/>
<key>Decrypt</key><true/></dict>
</dict>
</dict></plist>
