<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Filename</key><string>/Users/primeplatypus/Downloads/iPhone4,1_5.0_9A334_Restore.ipsw</string>
<key>RootFilesystem</key><string>038-2711-006.dmg</string>
<key>RootFilesystemKey</key><string>d40e28ae28f41418e6e1586c4bb575731995e8f873d0b37efa9601f252982ef82961200d</string>
<key>RootFilesystemSize</key><integer>1036</integer>
<key>RamdiskOptionsPath</key><string>/usr/local/share/restore/options.n94.plist</string>
<key>SHA256</key><string>71d1f75821518dcd4cb0bcd7ad7efa183169b7c6014bd236668e7bfb2ff29da4</string>
<key>FilesystemPackage</key><dict/><key>RamdiskPackage</key><dict/>
<key>Firmware</key><dict>
<key>iBSS</key><dict><key>File</key><string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string><key>IV</key><string>9fd4bce1849332063e4dd345b2031ef0</string><key>Key</key><string>10c94f6633f7ed3806d79b1f1232bb8b7e1650b8702318281932dd25662966eb</string><key>Patch</key><true/>
<key>Decrypt</key><true/></dict>
<key>iBEC</key><dict><key>File</key><string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string><key>IV</key><string>aa157c3b2535193287bca02e48cb602b</string><key>Key</key><string>7d0584f3d2e1e6a8f32de2614bc48263c1672dd8c52855664d2a86ee25b4b535</string><key>Patch</key><true/>
<key>Decrypt</key><true/></dict>
<key>Restore Ramdisk</key><dict><key>File</key><string>018-8012-343.dmg</string><key>IV</key><string>c35bb5d204d20f4d2e7475c0fb8c111a</string><key>Key</key><string>6de13de0bb4d5a742bf3e50707edad9b9b6739c6e03986c760873070427d24c8</string>
<key>Decrypt</key><true/></dict>
<key>RestoreDeviceTree</key><dict><key>File</key><string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string><key>IV</key><string>79369b6cade94fda78614f83522c5735</string><key>Key</key><string>7b809ade8dbbd5865598f7047af87ea90469a77f137006c3954a549fb4bab083</string><key>DecryptPath</key><string>Downgrade/RestoreDeviceTree</string>
<key>Decrypt</key><true/></dict>
<key>RestoreLogo</key><dict><key>File</key><string>Firmware/all_flash/all_flash.n94ap.production/applelogo-640x960.s5l8940x.img3</string><key>IV</key><string>2cdb712073b24159755415c93fb110f4</string><key>Key</key><string>19a23a4ba6e89d1c1610b74d758a3bd40e8c0dca065a7de8feb17cb419d750ea</string><key>DecryptPath</key><string>Downgrade/RestoreLogo</string>
<key>Decrypt</key><true/></dict>
<key>RestoreKernelCache</key><dict><key>File</key><string>kernelcache.release.n94</string><key>IV</key><string>87920b1023053b1fdc45e50df3d001fc</string><key>Key</key><string>b0ac12f65eff43866bfe997b5758e3bcf76db1e2cf31a1c118cc01c8be8c041e</string><key>DecryptPath</key><string>Downgrade/RestoreKernelCache</string><key>Patch</key><false/>
<key>Decrypt</key><true/></dict>
</dict>
</dict></plist>